@import 'h5bp';
@import 'fonts';
@import 'components/components';

$primary-green: #9fcc46;
$primary-orange: #f68421;
$primary-red: #f62621;
$primary-violet: #da138e;
$primary-blue: #31c5f1;
$primary-yellow: #fdd53c;
$primary-beige: #c2b59b;

$secondary-text: #676767;

$primary-text-size: 1.5em;
$secondary-text-size: 0.9em;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'robotolight', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

h1, h2 {
  margin: 0.5em 0 0 0;
}

p {
  margin: 0;
  line-height: 1.5em;
}

// Cancel out any other before styles that might of been applied.
ul li {
  &::before {
    content: '';
  }
}

p a {
  margin: -6px;
  padding: 6px;
  position: relative;
}

.hidden {
  display: none;
}

.app-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
  background: #fff;
}

.app-bar::before {
  content: '';
  height: 0.4em;
  display: block;
  background-image: linear-gradient(90deg,
    #31c5f1 0, #31c5f1 17%,
    #cfdd28 17%, #cfdd28 34%,
    #c2b59b 34%, #c2b59b 51%,
    #9fcc46 51%, #9fcc46 67%,
    #f68421 67%, #f68421 84%,
    #fdd53c 84%, #fdd53c 100%);
  width: 100%;
}

.app-toolbar {
  background: #f5f5f5;
  height: 2.5em;
  border-bottom: 1px solid #e1e1e1;
}

.exercise-status .exercise-overview {
  display: none;
  background: $primary-blue;
  width: 100%;
  position: relative;
  top: 7px;
  height: 38px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  border: 2px solid #d8e2e5;
  border-width: 2px 0;

  a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: $primary-yellow;
    }
  }
}

.exercise-status.completed .exercise-overview {
  display: block;
}

.headroom {
  @extend .promote-layer;
  transition: transform 200ms linear;
  position: fixed;
  display: block;
  top: 120px;
  left: 0;
  right: 0;
  background: $primary-violet;
  padding: 7px 0;
  z-index: 1;
  color: #fff;
  font-family: "foco", sans-serif;
  font-size: 1.1em;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.progress-meter {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 7px;
  right: -34px;
}

.progress-percent {
  letter-spacing: -0.1em;
  font-size: 0.7em;
  position: absolute;
  right: 30px;
  top: 12px;
}

.progress-meter path {
  stroke: #fff;
  transition: all 1s;
  transform: scale(0.4);
}

// Allow our buttons to have a uniform look, regardless of color. This is intended to be used
// along with one of our $color-<x> options, but can use whatever.
@mixin button($color){
  font-size: 0.9em;
  width: auto;
  color: $color;
  border: 1px solid $color;
  white-space: nowrap;
  padding: 5px 25px;
  background-color: transparent;

  &:link,
  &:visited {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    background: $color;
    color: #fcfcfc;
  }
}

.exercise-status {
  button {
    @extend .btn-white;
  }

  > div {
    width: 25%;
  }

  > div,
  > h2 {
    display: inline-block;
  }

  .start-over {
    padding: 0 0 0 20px;
  }

  h2 {
    width: 48%;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    text-align: center;
  }

  .progress {
    text-align: right;
    padding: 0 20px 0 0;
  }
}

.exercise {
  > ul {
    margin: 0 auto;
    padding: 40px 10% 0 20%;
  }

  > ul:first-child{
    margin-top: 40px;
  }

  li {
    padding-left: 0;
  }

  li.exercise-question {
    list-style-type: decimal;
    padding-bottom: 30px;
    padding-top: 0;
    vertical-align: top;

    .question-review-icon {
      margin-top: 24px;
      img {
        width: 75px;
        height: 75px;
        margin-left: 11px;
      }

      span {
        &:before {
          content: '\A';
        }
        white-space: pre;
      }

      text-transform: uppercase;
      font-weight: 600;
      float: right;
      margin-right: 150px;
    }

    .question-review-icon.incorrect {
      color: $primary-red;
    }

    .question-review-icon.correct {
      color: $primary-green;
    }

    .question-answers {
      ul {
        margin-left: 0;
        padding-left: 0;
      }

      padding: 10px 0 0 0;
      margin-left: 50px;
      margin-top: 50px;
      list-style-type: lower-alpha;
      color: $primary-violet;
      font-size: 0.9em;
      font-weight: 700;

      li {
        cursor: pointer;
        padding: 3px 0;
        width: 500px;
      }

      .question-answer {
        img {
          float: left;
          margin-right: 8px;
          height: 25px;
          width: 25px;
        }
      }

      .question-answer.selection {
        color: #000;
        position: relative;

        &:before {
          background: rgba(#000, 0.1);
          border: 1px solid rgba(#000, 0.2);
          width: 550px;
          height: 120%;
          top: -10%;
          content: ' ';
          display: block;
          position: absolute;
          left: -30px;
        }
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .question-answer-review {
        list-style-type: none;
        margin-left: -32px;

        span.selection-text {
          text-transform: uppercase;
          font-size: $secondary-text-size;
          margin-left: 33px;
        }

        span.explanation {
          font-size: $secondary-text-size;
          color: $secondary-text;
          max-width: 80px;
          margin-top: 19px;
        }
      }

      .question-answer-review.incorrect {
        color: $primary-red;
      }

      .question-answer-review.correct {
        color: $primary-green;
      }
    }
  }
}

.btn-green {
  @include button($primary-green);
}

form > button.stripe-button-el {
  @include button($primary-green);
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0 25px;
  font-family: inherit;
  margin: 25px 0 0 0;

  &:not(:disabled):active {
    background-color: $primary-green;

    span {
      background-color: $primary-green;
      background-image: none;
      box-shadow: none;
    }
  }

  > span {
    font-family: inherit;
    font-size: 0.9em;
    font-weight: 600;
    text-shadow: none;
    min-height: auto !important;
    padding: 0;
    background-image: none;
    background-color: transparent;
    color: $primary-green;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      color: #fff;
    }
  }
}

.btn-orange {
  @include button($primary-orange);
}

.btn-white {
  @include button(#fff);

  &:hover {
    color: #000;
  }
}

.logo-container {
  border-bottom: 0px solid #fff;

  button.app-bar-all-courses {
    @include button($primary-violet);
    float: right;
    position: absolute;
    display: block;
    top: 63px;
    right: 15px;
  }

  h1 {
    padding: 0;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      display: block;
      height: 1px;
      background: rgba(#edddbe, 0.5);
      position: absolute;
    }
  }

  &::after {
    content: '';
    width: 100%;
    display: block;
    height: 1px;
    bottom: 0;
    background: #c2b59b;
  }
}

.app-toolbar::after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  background: #f5f5f5;
}

.btn--buy {
  font-family: "foco",sans-serif;
  float: right;
  z-index: 5;
  color: $primary-orange;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  top: 3px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 2px 0 0 -23px;
    display: block;
    background: url('/images/cart.svg');
    background-size: cover;
  }

  &:link,
  &:visited {
    color: $primary-orange;
  }

  &:hover {
    color: lighten($primary-orange, 10);
  }
}

.btn--full-exam {
  position: fixed;
  right: 20px;
  top: 62px;
  z-index: 100;
}

.btn--full-exam.btn-orange:hover {
  color: #fff;
}

.description {
  text-align: justify;
}

.courses {
  padding: 0;
  margin: 20px 0 0 0;
  font-size: 0.9em;

  > li > div {
    margin-right: 0;
  }

  li {
    padding: 0;
  }

  > li {
    position: relative;
    padding: 0 0 0 10px;

    &::before{
      content: ' ';
      position: absolute;
      left: -5px;
      height: 100%;
      display: block;
      background: $primary-orange;
      width: 6px;
    }
  }

  h4 {
    padding: 0;
  }
}

.outline {
  padding: 0 0 0 50px;
  font-size: 1.1em;
  color: #222;

  li {
    border-left: 4px solid $primary-orange;
    padding: 2px 0 2px 5px;
    border-bottom: 1px solid $primary-orange
  }
}

p {
  padding-top: 0;
}

.company-bio {
  background: rgba(#000, 0.1);
  border: 1px solid rgba(#000, 0.2);
  padding: 10px;
  margin: 20px 20px 0 20px;
}

.outline-categories {
  border-top: 1px solid $primary-orange;
  font-size: 0.9em;
  padding: 0 0 0 20px;
}

main.signup {
  text-align: center;
  margin-top: 2em;

  h1,
  h2 {
    font-family: 'robotolight';
    font-size: 1.4em;
    line-height: 1.3em;
    text-align: center;
  }

  h2 {
    color: #949494;
  }

  h1 {
    color: #9fcc46;
  }

  p {
    max-width: 20em;
    margin: 0 auto;
    color: #949494;
  }

  form {
    margin: 2em auto 0 auto;
    position: relative;
    display: inline-block;
    text-align: left;

    input[type="email"] {
      border: 1px solid #da138e;
      line-height: 2.0em;
      padding: 0.3em 0.5em;
      width: 20em;
      font-size: 0.8em;
      color: #000;
      outline: none;
    }

    div {
      position: relative;
    }

    label {
      display: block;
      margin: 0 auto;
      text-align: center;

      span {
        position: absolute;
        color: #da138e;
        text-transform: uppercase;
        font-size: 0.7em;
        top: -2.2em;
        left: 0;
      }
    }

    input[type="submit"] {
      background: transparent;
      position: absolute;
      outline: none;
      top: 0.2em;
      line-height: 1.75em;
      right: -0.5em;
      border: none;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      width: 3.2em;
      background-image: url(/images/submit-btn.svg);
      background-size: 1.6em;
      background-position: center;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
        color: #000 !important;
    }
  }
}

footer .social {
  background: #cfdd28;
  height: 80px;

  .footer-logo {
    float: left;
    width: 140px;
    padding: 18px 0 0 22px;
  }
}

footer .site-links {
  background: #928f8a;
  min-height: 150px;
  color: #fcfcfc;
  font-size: 0.75em;
  padding: 15px 15px 15px 22px;
  line-height: 1.5em;
}

footer .site-links a {
  color: #fcfcfc;
  text-decoration: none;
  display: block;
}

footer .legal {
  float: left;
}

footer .sitewide {
  font-family: "foco",sans-serif;
  font-style: normal;
  font-weight: 400;
  float: right;

  ul {
    margin: 0 10px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
  }

  li {
    list-style-type: none;
    font-size: 0.75em;
    line-height: 1.6em;
  }

  li.title {
    text-transform: uppercase;
    font-weight: 700;
    color: #f7ffa1;
  }
}

footer .external {
  display: inline-block;
  float: right;
  padding: 20px 15px 0 0;

  img {
    width: 49px;
    height: 39px;
  }
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  line-height: 60px;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar .logo img {
  width: 4.5em;
  height: 2.3em;
  padding: 0.1em 0 0 0.7em;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;

  a {
    text-decoration: none;
    position: relative;
    top: 0.4em;
    right: 1em;
    margin: 0 0.3em;
    font-size: 0.8em;
    font-family: robotolight;
    visibility: visible;
  }

  span {
    position: relative;
    margin: 0.2rem;
    top: -0.1em;
  }
}

.app-bar-cart {
  color: #9fcc46;
}

.app-bar-user,
.app-bar-user:visited {
  color: #4285f4;
  vertical-align: top;
}

.app-bar-user > span {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;
  display: inline-block;
}

.app-bar-actions a img {
  width: 2em;
  margin-top: 0.2em;
}

.app-bar button {
  width: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  width: 60px;
  height: 60px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
  height:24px;
  width: 24px;
}

div.admin {
  a {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $primary-blue;
    text-decoration: none;
    text-align: center;
    width: 45%;
    display: inline-block;

    &:link,
    &:visited {
      color: darken($primary-blue, 30);
    }
  }

  background: rgba($primary-blue, 0.2);
  border: 1px solid rgba($primary-blue, 0.3);
  padding: 10px;
  margin: 20px 20px 0 20px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

.navdrawer-container {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #da138e;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: auto;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #000;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main,
main.dash,
main.checkout{
  margin: 0 auto;
  /* Height of the header */
  padding: 115px 25px 32px 25px;
  min-height: 70%;

  a,
  a:visited {
    color: #da138e;
  }

  a:hover {
    color: #31c5f1
  }
}

main.exercise {
  padding-top: 160px;
}

main.checkout {
  text-align: center;
  margin-top: 20px;

  .course {
    font-weight: 700;
    letter-spacing: -0.05em;
  }

  input[type="submit"] {
    margin: 15px 0 0 0;
  }
}

main.dash {
  min-height: 95%;
}

.courses > li {
  position: relative;
}

.courses .purchased {
  background: $primary-green;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.08em;
  padding: 2px 5px;
  position: relative;
  top: -2px;
}

#percentage {
  display: block;
  font-size: 2.9em;
}

@media all and (max-width: 459px) {
  footer .legal {
    float: none;
  }

  footer .sitewide {
    float: none;
    padding: 15px 0 0 0;

    ul {
      margin: 0;
    }

    .footer-solutions {
      margin-right: 15px;
    }
  }
}

@media only screen and (min-width: 800px) {
  .g-wide--2 {
    width: 50%;
  }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 1600px) {
  $fixed-width: 1400px;

  .app-bar,
  footer {
    position: relative;
    max-width: $fixed-width;
    margin: 0 auto;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    max-width: $fixed-width;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  nav {
    display: block;
    margin-top: 130px;
  }

  .navdrawer-container {
    display: none;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
    padding-left: 90px;
    padding-right: 90px;
  }

  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    position: relative;
    margin-top: 0;
  }
}

.dash-overview {
  padding-top: 20px;

  .dash-courseinfo,
  #starburst {
    display: block;
    margin: 0 auto;
    vertical-align: top;
  }

  > div {
    margin-right: 0;
  }
}

.dash-courseinfo {

  .course-name {
    color: $primary-violet;
  }

  .course-description {
    font-size: $secondary-text-size;
    color: $secondary-text;
  }

  .actions {
    margin: 15px 0 15px 10px;

    .generate-exam {

      display: block;
      font-size: $secondary-text-size;
      color: $primary-violet;
      border: 1px solid $primary-violet;
      white-space: nowrap;
      padding: 10px 20px;
      background: #FFF;

      &:hover {
        background: $primary-violet;
        color: #fcfcfc;
      }
      }
  }

  .provider-name {
    color: #585858;
  }

  .provider-bio {
    font-size: $secondary-text-size;
    color: $secondary-text;
  }
}

.dash-statsbar {
  font-size: 1.5em;
}

.dash-stats {
  text-align: center;

  > li {
    display: inline-block;
    width: 33%;
  }

  .dash-text {
    display: block;
  }

  .course-count {
    @extend .dash-statsbar;
    color: $primary-violet;
  }

  .exam-average {
    @extend .dash-statsbar;
    color: $primary-orange;
  }

  .exam-failcount {
    @extend .dash-statsbar;
    color: $primary-red;
  }

  .exam-passcount {
    @extend .dash-statsbar;
    color: $primary-green;
  } 
}

#sequence {
  width: 650px;
  margin: 0 auto;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  font-size: 0.6em;;
  fill: #fff;
}

#chart {
  position: relative;
  width: 450px;
  margin: 0 auto;
}

#explanation {
  position: absolute;
  top: 115px;
  left: 152px;


  button {
    @extend .btn-white;
    border-width: 0;
    position: relative;
    color: #000;
    padding: 0;
    white-space: normal;
    width: 150px;
    line-height: 1.2em;

    &:hover {
      background: none;
      color: $primary-violet;
    }
  }
}

#buttonText {
  &.active::after {
    content: 'Take Exam';
    display: block;
    text-transform: uppercase;
    color: $primary-violet;
    text-decoration: underline;
    font-size: 0.75em;
  }
}

#percentage {
  margin-bottom: 5px;
  line-height: 0.8em;
}

#chart path {
  stroke: #fff;
}