 <footer>
      <div class="social">
        <img class="footer-logo" src="/images/footer-logo.svg" />
        <div class="external">
          <img src="/images/facebook.svg" />
          <img src="/images/twitter.svg" />
        </div>
      </div>
      <div class="site-links">
        <div class="legal">
          &copy; 2014
          <a href="/terms.html">Terms &amp; Conditions</a>
          <a href="/privacy.html">Privacy Policy</a>
        </div>
        <div class="sitewide">
          <ul class="footer-solutions">
            <li class="title">Solutions</li>
            <li><a href="#">How we’re different</a></li>
            <li><a href="#">Add a course</a></li>
            <li><a href="#">Get in touch</a></li>
          </ul>
          <ul>
            <li class="title">Categories</li>
            <li><a href="#">Project Management</a></li>
            <li><a href="#">Agile</a></li>
            <li><a href="#">Accounting</a></li>
            <li><a href="#">Finance</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {{#if isDevelopment}}
    <script async src="//localhost:3000/browser-sync-client.1.2.1.js"></script>
    {{/if}}

     <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-54127259-1', 'auto');
         ga('require', 'displayfeatures');
         {{#if user.email}}
         ga('set', 'uid', '{{user.email}}');
         {{/if}}
         ga('send', 'pageview');
     </script>
  </body>
</html>
