 <footer>
      <div class="social">
        <img class="footer-logo" src="images/footer-logo.svg" />
        <div class="external">
          <img src="images/facebook.svg" />
          <img src="images/twitter.svg" />
        </div>
      </div>
      <div class="links">
        <div class="legal">
          &copy; 2014
          <a href="/terms.html">Terms &amp; Conditions</a>
          <a href="/privacy.html">Privacy Policy</a>
        </div>
        <div class="sitewide">
          <ul class="footer-solutions">
            <li class="title">Solutions</li>
            <li><a href="#">How we’re different</a></li>
            <li><a href="#">Add a course</a></li>
            <li><a href="#">Get in touch</a></li>
          </ul>
          <ul>
            <li class="title">Categories</li>
            <li><a href="#">Project Management</a></li>
            <li><a href="#">Agile</a></li>
            <li><a href="#">Accounting</a></li>
            <li><a href="#">Finance</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {{#if isDevelopment}}
    <script async src="//localhost:3000/browser-sync-client.1.2.1.js"></script>
    {{/if}}
  </body>
</html>
