<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trainify</title>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400'>
    <script type="text/javascript" src="//use.typekit.net/jbg6mff.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" width="24" height="24" alt="Menu"></button>
        <h1 class="logo"></h1>
        <section class="app-bar-actions">
          <a href="#" class="app-bar-cart"><img src="images/cart.svg" width="26" height="26" /><span>$0</span></a>
          {{#if user}}
            <a href="/logout" class="app-bar-user"><img class="app-bar-user" src="images/user.svg" width="26" height="26" /><span>{{user.email}}</span></a>
          {{else}}
            <a href="/signup" class="app-bar-user"><img class="app-bar-user" src="images/user.svg" width="26" height="26" /><span>Login or Signup</span></a>
          {{/if}}
        </section>
      </div>
      <div class="logo-container"><h1 class="logo"><a href="/"><img src="images/logo.svg" alt="Trainify" width="166" height="77" /></a></h1><button class="app-bar-all-courses">All Courses</button></div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a href="#hello">Store</a></li>
        <li><a href="#get-started">My Courses</a></li>
      </ul>
    </nav>
