{{>header}}

<main class="dash">
    <ul class="dash-stats">
        <li class="exam-passcount">
            <span class="dash-text"></span>
            <span class="dash-explanation">Tests Passed</span>
        </li>
        <li class="exam-failcount">
            <span class="dash-text"></span>
            <span class="dash-explanation">Tests Failed</span>
        </li>
        <li class="exam-average">
            <span class="dash-text"></span>
            <span class="dash-explanation">Test Average</span>
        </li>
    </ul>

	<div class="dash-overview clear">
        <div class="g-wide--8 g-wide--4">
            <a class="btn-orange btn--full-exam">Take Full Exam</a>

            {{! Starburst }}
            <div id="starburst">
                <div id="sequence"></div>
                <div id="chart">
                    <div id="explanation">
                        <button id="practiceButton"><span id="percentage"></span><span id="buttonText"><br />Select one of the categories</span></button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>

<div class="g-wide--2 g-wide--1" style="display: none">
    <h4 class="course-name"></h4>
    <span class="remaining"></span>
    <p class="course-description"></p>
</div>

{{>footer}}

<script type="text/javascript" src="/api/stats/tree"></script>
<script type="text/javascript" src="scripts/dash.js"></script>
<script type="text/javascript" src="scripts/d3.min.js"></script>
<script type="text/javascript" src="scripts/starburst.js"></script>

