{{> header }}

<main class="error">
  <h1>We are having some problems.</h1>
  <p>
    Please check back later, we are looking into the issue and hope to have it resolved soon.
  </p>
  <p>{{error.message}}</p>
  <pre><code>{{error.stack}}</code></pre>
</main>

{{> footer }}
