{{> header }}

<main class="landing-page">
    <section class="promo">
        <h3>Meet Trainify</h3>
        <img src="images/ipad-vertical.png" width="450" />
        <p>A dynamical education platform that tailors each exercise directly to you, elimating the guesswork from learning new content.</p>
        <a class="btn--courses">View Courses</a>
    </section>
    <section class="features container">
        <div class="feature g--third">
            <img src="images/overview-1.png" height="175" />
            <h5>Performance-Based Analytics</h5>
            Trainify provides focused feedback & advanced analytics to help you easily conceptualize areas of mastery and weakness. This allows you to pinpoint exactly which areas of study require the most emphasis and allocate study time accordingly.
        </div>
        <div class="feature g--third">
            <img src="images/mobile-1.png" height="175" />
            <h5>Mobile Friendly Platform</h5>
            The world is moving fast and with our platform there is no slowing down. Trainify is fully compatible in a mobile friendly setting. Wherever you are, we have you covered.
        </div>
        <div class="feature g--third">
            <img src="images/mobile-1.png" height="175" />
            <h5>Top-Quality Content</h5>
            We pride ourselves in having content that most closely matches the questions you will see on exam day. Our question banks are developed by industry practitioners with years of experience teaching their respective certifications. Content is promptly updated to match any curriculum changes.
        </div>
    </section>
</main>

    {{!-- <div class="description">
        <div>
            <div class="row">
                <div class="g--third info">
                    <img src="images/overview-1.png" height="175" />
                    <h6>SmartGEN System</h6>
                    No more guessing on how to approach e-content. The SmartGEN system tailors each and every exercise to the individual student while providing them with an in depth realization of the content. Let our proprietary algorithms determine the best course of action, feel at ease in our easy to use environment.
                </div>
                <div class="g--third info">
                    <img src="images/mobile-1.png" height="175" />
                    <h6>Mobile Friendly Platform</h6>
                    The world is moving fast and with our platform there is no slowing down. Trainify is fully compatible in a mobile friendly setting. Wherever you are, we have you covered.
                </div>
                <div class="g--third info">
                    <img src="images/mobile-1.png" height="175" />
                    <h6>Performance-Based Analytics</h6>
                    Trainify provides focused feedback & advanced analytics to help you easily conceptualize areas of mastery and weakness. This allows you to pinpoint exactly which areas of study require the most emphasis and allocate study time accordingly. 
                </div>

            </div>
            <div class="row">
                <div class="g--third info">
                    <h6>Top-Quality Content</h6>
                    We pride ourselves in having content that most closely matches the questions you will see on exam day. Our question banks are developed by industry practitioners with years of experience teaching their respective certifications. Content is promptly updated to match any curriculum changes.
                </div>
                <div class="g--third info">
                    <h6>Detailed Solutions</h6>
                    We provide comprehensive solutions so you fully understand the answers to each question in our question bank. We also reference specific areas of the curriculum to quickly go back for further reinforcement of concepts.
                </div>
            </div>
        </div>
    </div>
    <hr /> --}}
    
{{!-- </main> --}}

{{> footer }}
