{{> header }}

<main class="signup">
  <h2>Ready to join or coming back? <br />Great! Just enter your email address.</h2>

  <form action="signup" method="POST">
    <label>
      <span>e-mail address</span>
      <div>
        <input type="email" name="email" required autofocus autocorrect="off" autocapitalize="off">
        <input type="submit" value="" />
      </div>
    </label>
  </form>
</main>

{{> footer }}
