{{> header }}

<main class="signup">
  <h1>Ready to join or coming back? <br />Great! Just enter your email address.</h1>

  <form action="signup" method="POST">
    <input type="email" placeholder="e-mail" name="user">
    <input type="submit" />
  </form>
</main>

{{> footer }}